---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import EmailForm from "../components/EmailForm.astro";
---

<Layout title="Citas Ley de Memoria Democr치tica">
	<main class="max-width-container">
		<section class="">
			<h1 class="header-title">
				Procedimiento para obtenci칩n de nacionalidad por Ley de Memoria
				Democr치tica
			</h1>
			<p>
				La <a
					target="_blank"
					href="https://www.boe.es/eli/es/l/2022/10/19/20"
					>Ley de Memoria Democr치tica (Ley 20/2022)</a
				> de Espa침a establece, en su disposici칩n adicional octava, la posibilidad
				de que ciertas personas puedan adquirir la nacionalidad espa침ola
				por opci칩n. Los beneficiarios son los descendientes de exiliados,
				y se detallan m치s adelante.
			</p>
		</section>
		<section>
			<h2 class="header-title">
				Pasos para Obtener la Nacionalidad desde Cuba
			</h2>
			<p class="mini-header">
				Para obtener la nacionalidad por esta v칤a desde Cuba, debe
				seguir los siguientes pasos:
			</p>
			<ol>
				<li>
					<strong
						>Identificar el supuesto que le corresponde y reunir la
						documentaci칩n requerida.</strong
					>
				</li>
				<li>
					<strong
						>Solicitar credenciales para poder solicitar cita</strong
					> .
				</li>
				<li>
					<strong
						>Esperar a que le llegue un correo con las credenciales</strong
					> (puede demorar varios meses).
				</li>
				<li><strong>Solicitar la cita.</strong></li>
				<li><strong>Presentar la documentaci칩n requerida.</strong></li>
			</ol>
			<blockquote>
				<p>
					丘멆잺 <strong
						>Es importante resaltar que: UNA PERSONA, UNA CITA:</strong
					> No se admitir치n registros a trav칠s de terceros; los interesados
					deben tramitar su registro personalmente.
				</p>
			</blockquote>
		</section>
		<section>
			<h2>
				Supuestos que Pueden Optar por la Nacionalidad y Documentaci칩n
				Requerida
			</h2>

			<h3 class="anexo-header">Anexo I</h3>
			<ul>
				<li>
					Los nacidos fuera de Espa침a cuyo padre o madre, abuelo o
					abuela hubiese sido originariamente espa침ol pueden optar a
					la nacionalidad espa침ola de origen.
				</li>
				<li>
					Los nacidos fuera de Espa침a de padre o madre, abuelo o
					abuela, que originariamente hubieran sido espa침oles, y que,
					como consecuencia de haber sufrido exilio por razones
					pol칤ticas, ideol칩gicas, de creencia, o de orientaci칩n e
					identidad sexual, hubieran perdido o renunciado a la
					nacionalidad espa침ola.
				</li>
			</ul>

			<button type="button" class="collapsible">
				<strong>Requisitos</strong>
			</button>
			<div class="collapsable-content">
				<ul>
					<li>
						<a
							target="_blank"
							href="https://www.exteriores.gob.es/Documents/DocumentosSC/Nacionalidad/Anexo%201.pdf"
							>Anexo I</a
						> debidamente cumplimentado y firmado (original y copia).
					</li>
					<li>
						<a
							target="_blank"
							href="https://www.exteriores.gob.es/DocumentosAuxiliaresSC/Cuba/LA%20HABANA%20%28C%29/Nacionalidad/nacimiento%20hoja%20declaratoria.pdf"
							>Hoja de declaraci칩n de datos</a
						> debidamente cumplimentada y firmada.
					</li>
					<li>
						Certificado literal o en extracto de nacimiento expedido
						por el Registro Civil cubano del interesado/a. Debe ser
						original y legalizado en el MINREX. No es necesario que
						est칠 legalizado por el Consulado General de Espa침a en La
						Habana.
					</li>
					<li>
						Carn칠 de identidad, original y fotocopia, en vigor
						(formato actualizado).
					</li>
					<li>Certificado de nacimiento de progenitor/a.</li>
					<ul>
						<li>
							<strong
								>丘멆잺 Si el nacimiento del progenitor/a no consta
								inscrito en el Registro Civil del Consulado
								General de Espa침a en La Habana, es necesario
								aportar adem치s:</strong
							>
						</li>
						<ul>
							<li>
								Original del acta de nacimiento del
								progenitor/a, literal o en extracto, expedido
								por el Registro Civil cubano. Debe ser original
								y legalizado en el MINREX. No es necesario que
								est칠 legalizado por el Consulado General de
								Espa침a en La Habana.
							</li>
							<li>
								Original de la certificaci칩n literal de
								nacimiento espa침ola del abuelo o abuela del
								solicitante, que originariamente hubiera sido
								espa침ol/a. Si el nacimiento del abuelo/abuela
								consta inscrito en este Registro Civil Consular
								no es necesario que lo aporte.
							</li>
						</ul>
					</ul>
				</ul>

				<blockquote>
					<p>
						丘멆잺 <strong
							>En el segundo caso (exilio) es necesario aportar
							adem치s:</strong
						>
						<ul>
							<li>
								Documentaci칩n que acredite la condici칩n de
								exiliado del padre, madre, abuelo o abuela que
								originariamente hubieran sido espa침oles, y que,
								como consecuencia de haber sufrido exilio por
								razones pol칤ticas, ideol칩gicas, de creencia o de
								orientaci칩n e identidad sexual, hubieran perdido
								o renunciado a la nacionalidad espa침ola.
							</li>
						</ul>
					</p>
				</blockquote>

				<blockquote class="info-quote">
					<p>
						<strong
							>游븷 Si la persona desea acreditarlo para que conste
							en la inscripci칩n a t칤tulo informativo, certificado
							de matrimonio original de los progenitores:</strong
						>
					</p>
					<ul>
						<li>
							Certificado espa침ol de matrimonio (si existe). En
							caso de que el matrimonio est칠 inscrito en el
							Registro Civil del Consulado General de Espa침a en La
							Habana, no es necesario que lo aporte.
						</li>
						<li>
							En caso de que no exista certificado espa침ol, podr치
							presentar certificado de matrimonio cubano original,
							legalizado por el MINREX. En este 칰ltimo caso no es
							necesario que est칠 legalizado por el Consulado
							General de Espa침a en La Habana.
						</li>
						<li>
							En caso de no existir matrimonio en el momento del
							nacimiento del interesado, podr치 aportar uno de los
							siguientes documentos por cada progenitor:
						</li>
						<ul>
							<li>
								Certificado de notas al margen de la inscripci칩n
								del nacimiento de sus progenitores relativas a
								su estado civil.
							</li>
							<li>
								Sentencia de divorcio del matrimonio anterior de
								cada uno (si posteriormente no se contrajo nuevo
								matrimonio).
							</li>
							<li>
								Fe de solter칤a en caso de que no hayan contra칤do
								nunca matrimonio.
							</li>
						</ul>
					</ul>
				</blockquote>
			</div>

			<h3 class="anexo-header">Anexo II</h3>
			<p>
				Este anexo aplica para los hijos e hijas nacidos en el exterior
				de mujeres espa침olas que perdieron su nacionalidad por casarse
				con extranjeros antes de la entrada en vigor de la Constituci칩n
				de 1978.
			</p>

			<button type="button" class="collapsible">
				<strong>Requisitos</strong>
			</button>
			<div class="collapsable-content">
				<ul>
					<li>
						<a
							href="https://www.exteriores.gob.es/Documents/DocumentosSC/Nacionalidad/Anexo%202.pdf"
							>Anexo II</a
						> debidamente cumplimentado y firmado (original y copia).
					</li>
					<li>
						<a
							href="https://www.exteriores.gob.es/DocumentosAuxiliaresSC/Cuba/LA%20HABANA%20%28C%29/Nacionalidad/nacimiento%20hoja%20declaratoria.pdf"
							>Hoja de declaraci칩n de datos</a
						> debidamente cumplimentada y firmada.
					</li>
					<li>
						Certificado literal o en extracto de nacimiento expedido
						por el Registro Civil cubano del interesado/a. Debe ser
						original y legalizado en el MINREX. No es necesario que
						est칠 legalizado por el Consulado General de Espa침a en La
						Habana.
					</li>
					<li>
						Original de la certificaci칩n literal de nacimiento
						espa침ola de la madre.
					</li>
					<li>
						Carn칠 de identidad, original y fotocopia, en vigor
						(formato actualizado).
					</li>
				</ul>

				<blockquote>
					<p>
						<strong
							>游븷 Si la persona desea acreditarlo para que conste
							en la inscripci칩n a t칤tulo informativo, certificado
							de matrimonio original de los progenitores:</strong
						>
					</p>
					<ul>
						<li>
							Certificado espa침ol de matrimonio (si existe). En
							caso de que el matrimonio est칠 inscrito en el
							Registro Civil del Consulado General de Espa침a en La
							Habana, no es necesario que lo aporte.
						</li>
						<li>
							En caso de que no exista certificado espa침ol, podr치
							presentar certificado de matrimonio cubano original,
							legalizado por el MINREX. En este 칰ltimo caso no es
							necesario que est칠 legalizado por el Consulado
							General de Espa침a en La Habana.
						</li>
					</ul>
				</blockquote>
			</div>
			<h3 class="anexo-header">Anexo III</h3>
			<p>
				Aplica para los hijos e hijas mayores de edad de aquellos
				espa침oles a quienes les fue reconocida su nacionalidad de origen
				en virtud del derecho de opci칩n de acuerdo a lo dispuesto en la
				presente ley de Memoria Democr치tica o en la disposici칩n
				adicional s칠ptima de la Ley 52/2007, de 26 de diciembre
				(conocida como Ley de Memoria Hist칩rica).
			</p>

			<button type="button" class="collapsible">
				<strong>Requisitos</strong>
			</button>
			<div class="collapsable-content">
				<ul>
					<li>
						<a
							target="_blank"
							href="https://www.exteriores.gob.es/Documents/DocumentosSC/Nacionalidad/Anexo%203.pdf"
							>Anexo III</a
						> debidamente cumplimentado y firmado (original y copia).
					</li>
					<li>
						<a
							target="_blank"
							href="https://www.exteriores.gob.es/DocumentosAuxiliaresSC/Cuba/LA%20HABANA%20%28C%29/Nacionalidad/nacimiento%20hoja%20declaratoria.pdf"
							>Hoja de declaraci칩n de datos</a
						> debidamente cumplimentada y firmada.
					</li>
					<li>
						Original de la certificaci칩n literal espa침ola de
						nacimiento del padre o de la madre de los solicitantes
						mayores de edad que opten a la nacionalidad espa침ola, al
						haberse reconocido a sus progenitores la nacionalidad
						espa침ola de origen en virtud del derecho de opci칩n de
						acuerdo a la Ley de Memoria Democr치tica de 2022 o la Ley
						de Memoria Hist칩rica de 2007 (la certificaci칩n debe
						haber sido expedida en el 칰ltimo a침o).
					</li>
					<ul>
						<li>
							<strong
								>Si el nacimiento del progenitor/a consta
								inscrito en el Registro Civil del Consulado
								General de Espa침a en La Habana, no es necesario
								que lo aporte.</strong
							>
						</li>
					</ul>
					<li>
						Carn칠 de identidad, original y fotocopia, en vigor
						(formato actualizado).
					</li>
				</ul>

				<blockquote>
					<p>
						<strong
							>游븷 Si la persona desea acreditarlo para que conste
							en la inscripci칩n a t칤tulo informativo, certificado
							de matrimonio original de los progenitores:</strong
						>
					</p>
					<ul>
						<li>
							Certificado espa침ol de matrimonio (si existe). En
							caso de que el matrimonio est칠 inscrito en el
							Registro Civil del Consulado General de Espa침a en La
							Habana, no es necesario que lo aporte.
						</li>
						<li>
							En caso de que no exista certificado espa침ol, podr치
							presentar certificado de matrimonio cubano original,
							legalizado por el MINREX. En este 칰ltimo caso no es
							necesario que est칠 legalizado por el Consulado
							General de Espa침a en La Habana.
						</li>
						<li>
							En caso de no existir matrimonio en el momento del
							nacimiento del interesado, podr치 aportar uno de los
							siguientes documentos por cada progenitor:
						</li>
						<ul>
							<li>
								Certificado de notas al margen de la inscripci칩n
								del nacimiento de sus progenitores relativas a
								su estado civil.
							</li>
							<li>
								Sentencia de divorcio del matrimonio anterior de
								cada uno (si posteriormente no se contrajo nuevo
								matrimonio).
							</li>
							<li>
								Fe de solter칤a en caso de que no hayan contra칤do
								nunca matrimonio.
							</li>
						</ul>
					</ul>
				</blockquote>
			</div>
		</section>
		<section id="credenciales-section">
			<h2>Solicitud de Credenciales</h2>
			<p>
				Para obtener las credenciales para solicitar la cita debe enviar
				un correo a la direcci칩n <a
					href="mailto:cog.lahabana.lmdsol1@maec.es?subject=CITAS%20LMD"
					>cog.lahabana.lmdsol1@maec.es</a
				>.
			</p>
			<p>
				<strong
					>El correo debe cumplir con las siguientes condiciones:</strong
				>
			</p>
			<ul>
				<li>
					El <strong>asunto</strong> del correo deber치 ser: <em
						>CITAS LMD</em
					>.
				</li>
				<li>
					El cuerpo del correo debe incluir los siguientes datos: <em
						>Nombre;primer apellido;segundo apellido;Carnet de
						Identidad</em
					>. Recuerde que debe estar escrito sin ap칩strofes, ni
					acentos, (S칈 SE ACEPTA LA 칌) ni guiones (en apellidos
					compuestos deben omitirse los guiones), separados cada dato
					del siguiente 칰nicamente con un punto y coma sin ning칰n otro
					car치cter. Por ejemplo: Jos칠 Mar칤a L칩pez S치nchez-Bravo,
					carnet de identidad: 35022700215, tendr칤a que escribir: <em
						>JOSE MARIA;LOPEZ;SANCHEZ BRAVO;35022700215</em
					>
				</li>
				<li>
					El correo debe contener un <strong>PDF</strong> con toda la documentaci칩n
					requerida en el anexo correspondiente y <strong
						>una foto de la persona solicitante sosteniendo su carn칠
						de identidad.</strong
					> Todos los documentos deben estar en un solo archivo PDF y la
					<strong>foto debe estar en la primera p치gina.</strong>
				</li>
			</ul>

			<Card
				title="Ejemplo de Correo"
				href="#"
				body="JOSE MARIA;LOPEZ;SANCHEZ BRAVO;35022700215"
			/>
			<EmailForm />

			<blockquote>
				<p>
					丘멆잺 <strong
						>Cualquier correo que no siga estas instrucciones ser치
						ignorado.</strong
					>
				</p>
			</blockquote>
		</section>
		<section>
			<h2>Solicitud de Cita</h2>
			<p>
				Una vez que reciba el correo en la direcci칩n que proporcion칩 en
				la solicitud de credenciales, podr치 solicitar la cita en el
				siguiente <a
					target="_blank"
					href="https://www.citaconsular.es/es/hosteds/widgetdefault/28330379fc95acafd31ee9e8938c278ff"
					>enlace</a
				>, donde podr치 seleccionar fecha y hora usando el usuario y
				contrase침a que le lleg칩 al correo.
			</p>
			<blockquote>
				<p>
					丘멆잺 Recuerde revisar la carpeta de <strong>SPAM</strong> o correo
					no deseado si no recibe el correo con las credenciales.
				</p>
			</blockquote>
			<blockquote>
				<p>
					丘멆잺 칔nicamente en caso de que, seleccionada una cita, le
					rechace la contrase침a recibida, puede escribir un correo a
					cog.lahabana.lmdsol1@maec.es con el asunto <strong
						>ERROR CONTRASE칌A</strong
					> y adjuntando los mismos documentos que remiti칩 para darse de
					alta en el sistema.
				</p>
			</blockquote>
		</section>

		<section>
			<h2>Aclaraciones</h2>
			<ul>
				<li>
					<strong>Una persona, una cita:</strong> No se admitir치n registros
					a trav칠s de terceros; los interesados deben tramitar su registro
					personalmente.
				</li>
				<li>
					<strong
						>No se responder치n consultas de ning칰n tipo en la
						direcci칩n de correo donde se obtienen las credenciales.</strong
					>
				</li>
			</ul>
		</section>
		<section>
			<h2>Referencias</h2>
			<ul>
				<li>
					<a
						target="_blank"
						href="https://www.exteriores.gob.es/Consulados/rosario/es/Comunicacion/Noticias/Paginas/Articulos/Ley-de-Memoria-Democr%C3%A1tica.aspx"
						>Ley de Memoria Democr치tica</a
					>
				</li>
				<li>
					<a
						target="_blank"
						href="https://www.exteriores.gob.es/Consulados/lahabana/es/ServiciosConsulares/Paginas/docrequerida.aspx"
						>Documentaci칩n requerida</a
					>
				</li>
				<li>
					<a
						target="_blank"
						href="https://www.exteriores.gob.es/Consulados/lahabana/es/ServiciosConsulares/Paginas/cita4LMD.aspx"
						>Procedimiento de Obtenci칩n de cita</a
					>
				</li>
			</ul>
		</section>
	</main>
</Layout>

<style is:global>
	main {
		padding: 1em;
	}
	.max-width {
		max-width: 600px;
		width: 100%;
		padding: 1em;
	}

	.max-width-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.max-width-container > * {
		max-width: 600px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	section {
		padding: 1em 0;
		width: 100%;
	}

	h1,
	h2,
	h3 {
		font-size: 1.5rem;
		margin-bottom: 0.75rem;
	}

	li {
		margin-bottom: 0.5rem;
	}

	p,
	li {
		font-size: 0.9rem;
		line-height: 1.5;
	}

	em {
		font-style: italic;
		font-weight: bold;
		white-space: nowrap;
	}

	@media screen and (max-width: 512px) {
		em {
			white-space: normal;
		}
	}
</style>

<style>
	.header-title,
	h1,
	h2 {
		margin-bottom: 0.5em;
		font-size: 1.5em;
		text-align: left;
		border-bottom: 1px solid crimson;
	}

	h3 {
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}

	.mini-header {
		font-weight: bold;
		padding-bottom: 0.5em;
	}
	p {
		max-width: 600px;
		text-align: left;
		padding-bottom: 1em;
	}

	ol,
	ul {
		padding-left: 2em;
		list-style: upper-roman;
		padding-bottom: 1em;
	}

	blockquote {
		background-color: cornsilk;
		padding: 1em;
		border-radius: 20px;
		margin: 0.5em 0;
	}

	.info-quote {
		background-color: palegreen;
	}

	blockquote > p {
		padding: 0;
	}

	blockquote > * {
		padding-bottom: 0;
	}

	strong {
		font-weight: bold;
	}

	ul > ul {
		padding-bottom: 0em;
	}

	.anexo-header {
		font-size: 1.2em;
		font-weight: bold;
		margin-top: 1em;
	}

	.collapsible {
		background-color: royalblue;
		color: white;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		border-radius: 20px;
		/* margin-bottom: 1em; */
	}

	.collapsible:hover {
		background-color: navy;
	}

	.active {
		border-radius: 20px 20px 0 0;
		margin-bottom: 0;
	}

	.collapsable-content {
		padding: 0 18px;
		display: block;
		max-height: 0;
		overflow: hidden;
		background-color: #f1f1f1;
		border-radius: 0 0 20px 20px;
		transition: max-height 500ms ease-out;
		margin-bottom: 1em;
	}

	.collapsable-content > *:first-child {
		padding-top: 1em;
	}

	section > .collapsable-content:last-child {
		margin-bottom: 0;
	}
</style>

<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			var content = this.nextElementSibling;
			// if (content.style.height === "0px") {
			// 	content.style.height = "auto";
			// } else {
			// 	content.style.height = "0px";
			// }

			// if (content.style.display === "block") {
			// 	content.style.display = "none";
			// } else {
			// 	content.style.display = "block";
			// }

			if (content.style.maxHeight) {
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + "px";
			}

			if (this.classList.contains("active")) {
				setTimeout(() => {
					this.classList.toggle("active");
				}, 500);
			} else {
				this.classList.toggle("active");
			}
		});
	}
</script>
